In [4]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
7    8.0
8    9.0
dtype: float64

In [6]:
d = pd.date_range('20200301', periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df1 = pd.DataFrame(np.random.randn(10,4), index=d, columns=['A','B','C','D'])
df1

                   A         B         C         D
2020-03-01  0.812028  0.000168 -0.996642 -1.711677
2020-03-02 -0.887753  0.674197  0.250333 -0.589528
2020-03-03  0.096176  0.611412  1.666083 -1.292765
2020-03-04 -0.895869  0.067926 -1.927426  0.124198
2020-03-05 -0.053743  2.009585  0.336305  0.116057
2020-03-06 -0.426741  0.681588 -0.501285 -0.814873
2020-03-07 -1.498599  0.421936 -0.304185 -1.044750
2020-03-08 -0.108064  0.193214 -0.980355  0.865689
2020-03-09 -0.736047 -1.012036  0.009257  1.623502
2020-03-10  0.708222 -0.120018  0.050377 -1.849956

In [22]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200301'),
                   'C':pd.Series(1, index=list(range(4)), dtype ='float32'),
                   'D':pd.Categorical(['True','False','true','false']),
                   'E':np.array([5]*4, dtype='int32'),
                   'F':'Edureka'
                   
    
    
})

In [23]:
df1

   A          B    C      D  E        F
0  1 2020-03-01  1.0   True  5  Edureka
1  2 2020-03-01  1.0  False  5  Edureka
2  3 2020-03-01  1.0   true  5  Edureka
3  4 2020-03-01  1.0  false  5  Edureka

In [24]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D          category
E             int32
F            object
dtype: object

In [25]:
df1.tail()

   A          B    C      D  E        F
0  1 2020-03-01  1.0   True  5  Edureka
1  2 2020-03-01  1.0  False  5  Edureka
2  3 2020-03-01  1.0   true  5  Edureka
3  4 2020-03-01  1.0  false  5  Edureka